<script>
	import Tailwindcss from '../components/Tailwindcss.svelte'
	import Nav from '../components/Nav.svelte';

	export let segment;

</script>

<style>
	main {
		position: relative;
		margin: 0 auto;
		box-sizing: border-box;
	}
</style>


<Tailwindcss />

<Nav {segment}/>
<main>
	<slot />
</main>