<svelte:head>
	<title>Sapper project template</title>
</svelte:head>


<h1>Hey, sexy...</h1>
<figure>
	<img alt='Wink' src='wink.png'>
</figure>

<h2>Do you always look this professional?</h2>


<style>
	h1, h2, figure, p {
		text-align: center;
	}

	h1 {
		font-size: 2.8em;
		font-weight: 700;
		margin: 0 0 0.5em 0;
	}

	h2 {

		font-size: 1.2em;
		font-weight: 400;
		margin: 0 0 0.5em 0;
	}

	figure {
		margin: 0 0 1em 0;
		@apply
			align-middle
			object-center
			flex
			items-center
			content-center
			justify-center
			;
	}

	img {
		width: 100%;
		max-width: 400px;
		margin: 0 0 1em 0;
		@apply bg-black rounded-full;
	}

	@media (min-width: 480px) {
		h1 {
			font-size: 4em;
		}
		h2 {
			font-size: 2em;
		}
	}
</style>